<h1 class="sidebar-brand sidebar-brand-bg sidebar-brand-border m-b-0">
    <i class="strings-layer" aria-hidden="true"></i>
    <a class="sidebar-brand-link" href="{{ path('panel_index') }}">
        <i class="icon-f-hole-right brand-f-hole" aria-label="Violin F-hole"></i>
        <span class="brand-text brand-text-left">Virtus</span>
        <span class="brand-text brand-text-right">Symfony</span>
    </a>
</h1>