@import url("http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700");
@import url("https://fonts.googleapis.com/css?family=David+Libre&subset=latin-ext");

@import "scss/variables";

// Bourbon
@import "bower_components/bourbon/app/assets/stylesheets/bourbon";

// FontAwesome
@import "bower_components/components-font-awesome/scss/font-awesome";

// Icomoon
@import "scss/icomoon";

// Bootstrap
@import "bower_components/bootstrap/scss/bootstrap";

// Bootstrap Layout
@import "bootstrap-layout/functions/strip-unit";
@import "scss/variables-bootstrap-layout";
@import "bootstrap-layout/style";

// AdminPlus Lite
@import "adminplus/scaffolding";
@import "adminplus/backgrounds";
@import "adminplus/buttons";
@import "adminplus/pagination";
@import "adminplus/jumbotron";
@import "adminplus/media";
@import "adminplus/breadcrumb";
@import "adminplus/list-group";
@import "scss/adminplus/cards";
@import "adminplus/forms";
@import "adminplus/helpers";
@import "adminplus/material-icons";
@import "adminplus/progress";
@import "adminplus/tabs";

// Plugins
@import "bower_components/sweetalert/dev/sweetalert";
@import "bower_components/toastr/toastr";

// Style
@import "scss/mixins";
@import "scss/list-table";
@import "scss/common";
@import "scss/tables";
@import "scss/sidebar";
@import "scss/forms";
@import "scss/alerts";
@import "scss/card";
@import "scss/buttons";
@import "scss/nav";
@import "scss/login-screen";
