body *::selection {
  background: $deep-orange-900;
  color: #fff;
}

body *::-moz-selection {
  background: $deep-orange-900;
  color: #fff;
}

.card-title {
  display: inline-block;
}

.card-header {
  @include clearfix;
}

.card_header_buttons {
  float: right;
}

.btn-group--before-card {
  margin-bottom: 1.25rem;
}

.card_login {
  position: relative;
  top: 50%;
  @include transform(translate(0, -50%));
  left: 0;
  width: 450px;
  margin: 0 auto;

  @media (max-width: breakpoint-max(xs)) {
    width: auto;
  }
}

.breadcrumb--no-margin {
  margin: 0;
}

.card-block--no-padding-top {
  padding-top: 0;
}

.form-control-label {
  padding-left: 0;
  padding-right: 0;
}

.form-control-error {
  padding: 0;
  margin: .5rem 0 0;
  display: block;
}

@media (max-width: breakpoint-max(md)) {
  .dropdown-settings {
    margin-bottom: .75rem;
  }
}

.file {
  display: block;
}
