select.form-control {
  padding: $input-padding-y+.1rem $input-padding-x;
}

.form-inline {
  .select2 {
    min-width: 135px;
  }

  @media (min-width: breakpoint-min(sm)) {
    margin-top: -0.5rem;
    margin-bottom: -0.5rem;

    .form-group {
      margin: 0.5rem 0.5rem 0.5rem 0;
    }

    .select2 {
      width: auto !important;
    }
  }

  @media (max-width: breakpoint-max(xs)) {
    .select2 {
      width: 100% !important;
    }
  }
}

.form-control-text-danger {
  display: block;
  margin-top: .75rem;
}

.form-collection__item_form--disabled, .form-collection__item_preview--disabled {
  display: none;
}

.form__errors--popover {
  background: #fafafa;
  border: 1px solid #E6E6E6;
  padding: 8px;
  margin-top: 10px;
}

.form__errors--popover::before {
  content: "";
  display: block;
  position: absolute;
  top: -10px;
  left: 10px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #E6E6E6 transparent;
}

.form__errors--popover-hidden {
  display: none;
}
