.btn-sign-in {
  @include button-variant(#fff, $deep-orange-900, $deep-orange-900);
}

.login_screen {
  background-color: $deep-orange-900;
  @include background-image(linear-gradient(270deg, hsla(0, 100%, 100%, 0.25) 0%, hsla(0, 100%, 100%, 0.08) 50%, transparent 50%),
          linear-gradient(darken($brown-900, 20%), $deep-orange-400));
}

@include keyframes(loginLayerMove) {
  0% {
    top: 115%;
    left: 50%;
    @include transform(translate(-50%, -50%) rotate(0deg));
  }
  35% {
    left: 50%;
    top: 110%;
    @include transform(translate(-50%, -50%) rotate(0deg));
  }
  36% {
    left: 58%;
    top: 35%;
    @include transform(translate(-50%, -50%) rotate(-20deg));
  }
  38% {
    left: 58%;
    top: 35%;
    @include transform(translate(-50%, -50%) rotate(-40deg));
  }
  42% {
    left: 58%;
    top: 35%;
    @include transform(translate(-50%, -50%) rotate(200deg));
  }
  43% {
    left: -10%;
    top: 50%;
    @include transform(translate(-50%, -50%) rotate(445deg));
  }
  45% {
    left: -10%;
    top: 50%;
    @include transform(translate(-50%, -50%) rotate(445deg));
  }
  80% {
    left: -5%;
    top: 50%;
    @include transform(translate(-50%, -50%) rotate(445deg));
  }
  81% {
    top: 115%;
    left: 50%;
    @include transform(translate(-50%, -50%) rotate(0deg));
  }
  82% {
    top: 125%;
    left: 50%;
    @include transform(translate(-50%, -50%) rotate(0deg));
  }
  85% {
    top: 125%;
    left: 50%;
    @include transform(translate(-50%, -50%) rotate(0deg));
  }
  95% {
    top: 115%;
    left: 50%;
    @include transform(translate(-50%, -50%) rotate(0deg));
  }
}

.login_layer {
  background: url($path-theme + "/images/violin.svg") no-repeat center;
  background-size: 100%;
  height: 490px;
  width: 184px;
  line-height: 100%;
  font-size: 100%;
  position: absolute;
  top: 115%;
  left: 50%;
  @include transform(translate(-50%, -50%));
  @include animation-name(loginLayerMove);
  @include animation-duration(30s);
  @include animation-timing-function(ease-out);
  @include animation-iteration-count(infinite);
}

@include keyframes(cardLoginMove) {
  from {
    top: 20px;
    @include transform(translate(0, 0));
  }
  to {
    top: 50%;
    @include transform(translate(0, -50%));
  }
}

.card_login {
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  width: 400px;
  margin: 0 auto 20px;
  border-radius: 0 !important;
  border: 0 none;
  background: rgba(255, 255, 255, 0.95);
  @include animation-name(cardLoginMove);
  @include animation-duration(.7s);
  @include animation-fill-mode(forwards);
  @include animation-timing-function(ease-in-out);

  .card-block {
    padding: 2rem;
  }

  @media (max-width: breakpoint-max(xs)) {
    width: auto;
  }
}

.card_login_footer {
  background-color: $brown-800;
  text-align: center;
  color: #fff;
  font-family: $font-family-serif;
  padding: 3px;
  font-size: 1.1rem;
}
