.btn-sign-in {
  @include button-variant(#fff, $deep-orange-900, $deep-orange-900);
}

.login_screen {
  background-color: $deep-orange-900;
  @include background-image(linear-gradient(270deg, hsla(0, 100%, 100%, 0.25) 0%, hsla(0, 100%, 100%, 0.08) 50%, transparent 50%),
          linear-gradient(darken($brown-900, 20%), $deep-orange-400));
}

/*@include keyframes(loginLayerMove) {
  from {
    width: 500px;
    top: 0;
    opacity: 0;
  }
  to {
    width: 580px;
    top: -230px;
    opacity: 1;
  }
}

.login_layer {
  background: url($path-theme + "/images/violin-4.svg") no-repeat center -700px;
  background-size: 100%;
  height: 100%;
  width: 500px;
  line-height: 100%;
  font-size: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  opacity: 0;
  @include animation-name(loginLayerMove);
  @include animation-duration(4s);
  @include animation-fill-mode(forwards);
  @include animation-timing-function(ease-out);

  @media (max-width: 499px), (max-height: 720px) {
    width: 300px;
    @include animation-name(none);
    opacity: 1;
    background-position: center -400px;
  }
}*/

@include keyframes(cardLoginMove) {
  from {
    top: 20px;
    @include transform(translate(0, 0));
  }
  to {
    top: 50%;
    @include transform(translate(0, -50%));
  }
}

.card_login {
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  width: 400px;
  margin: 0 auto 20px;
  border-radius: 0 !important;
  border: 0 none;
  background: rgba(255, 255, 255, 0.9);
  @include animation-name(cardLoginMove);
  @include animation-duration(.7s);
  @include animation-fill-mode(forwards);
  @include animation-timing-function(ease-in);

  .card-block {
    padding: 2rem;
  }

  @media (max-width: breakpoint-max(xs)) {
    width: auto;
  }
}

.card_login_footer {
  background-color: $brown-800;
  text-align: center;
  color: #fff;
  font-family: $font-family-serif;
  padding: 3px;
  font-size: 1.1rem;
}
