.sidebar-dark .sidebar-brand, .sidebar-brand {
  background-color: $deep-orange-900;
  padding-left: 0;
  padding-right: 0;
  @include background-image(linear-gradient(hsla(0, 100%, 100%, 0.25) 0%, hsla(0, 100%, 100%, 0.08) 75%, transparent 75%),
          linear-gradient($deep-orange-900, darken($deep-orange-900, 10%)));
}

.sidebar-dark {
  .active > .sidebar-menu-button {
    background-color: $sm-dark-active-button-bg;
    &:hover {
      background-color: $sm-dark-hover-button-bg;
    }
  }
}

.sidebar-menu-button {
  cursor: pointer;
}

.sidebar-brand {
  text-align: center;
  font-family: $font-family-serif;
  position: relative;
  top: 0;
  left: 0;

  > .sidebar-brand-link {
    position: relative;
    top: 0;
    left: 0;
    color: #fff;
    display: block;
    width: 100%;
    height: 100%;
    &:hover, &:focus {
      color: #fff;
      text-decoration: none;
    }

    > .brand-f-hole {
      font-size: 1.2em;
      color: #000;
      position: relative;
      top: 0.1em;
      left: 0;
      margin: 0 0.2em;
    }

    > .brand-text {
      background-color: $brown-800;
      border-radius: 3px;
      padding: 2px;
    }
  }

  > .strings-layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 100%;
    width: 26px;
    border-left: 1px solid $deep-orange-100;
    border-right: 1px solid $deep-orange-100;

    &::before, &::after {
      content: "";
      width: 1px;
      height: 100%;
      background-color: $deep-orange-100;
      position: absolute;
      top: 0;
    }

    &::before {
      left: 7px;
    }

    &::after {
      right: 7px;
    }
  }
}

.sidebar-menu-icon {
  text-align: center;
  margin-right: 0.1em;
}
