.sidebar-dark .sidebar-brand, .sidebar-brand {
  background-color: $deep-orange-900;
  padding-left: 0;
  padding-right: 0;
  @include background-image(linear-gradient(hsla(0, 100%, 100%, 0.25) 0%, hsla(0, 100%, 100%, 0.08) 75%, transparent 75%),
          linear-gradient($deep-orange-900, darken($deep-orange-900, 10%)));
}

.sidebar-dark {
  .active > .sidebar-menu-button {
    background-color: $sm-dark-active-button-bg;
    &:hover {
      background-color: $sm-dark-hover-button-bg;
    }
  }
}

.sidebar-brand {
  text-align: center;
  font-family: $font-family-serif;

  .brand-f-hole {
    font-size: 1.2em;
    color: #000;
    position: relative;
    top: 0.1em;
    left: 0;
    margin: 0 0.2em;
  }
}

.sidebar-menu-icon {
  text-align: center;
  margin-right: 0.1em;
}
